#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<title>Apps</title>
</head>
<body>
	<a href="new.html" th:href="@{'/apps/create'}">Create</a>
	<ul>
		<li th:each="app : ${symbol_dollar}{apps}">
			<a href="show.html" th:href="@{'/apps/'+${symbol_dollar}{app.id}}">
				<span th:text="${symbol_dollar}{app.id}">app id</span> - <span th:text="${symbol_dollar}{app.name}">app name</span>
			</a>
			<a href="edit.html" th:href="@{'/apps/'+${symbol_dollar}{app.id}+'/edit'}">Edit</a>
			<form action="${symbol_pound}" th:action="@{'/apps/'+${symbol_dollar}{app.id}}" method="post" th:method="delete">
				<input type="submit" value="Delete" />
			</form>
		</li>
	</ul>
</body>
</html>

