#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<title>New App</title>
</head>
<body>
	<form action="${symbol_pound}" th:action="@{/apps}" th:object="${symbol_dollar}{app}" method="post">
		<input type="text" th:field="*{name}" />
		<p th:if="${symbol_dollar}{${symbol_pound}fields.hasErrors('name')}" th:errors="*{name}">Incorrect</p>
		<input type="submit" />
	</form>
</body>
</html>
