#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<title>Show App</title>
</head>
<body>
	<input type="text" th:field="${symbol_dollar}{app.id}" readonly="readonly" disabled="disabled" />
	<input type="text" th:field="${symbol_dollar}{app.name}" readonly="readonly" disabled="disabled" />
	<a href="edit.html" th:href="@{'/apps/'+${symbol_dollar}{app.id}+'/edit'}">Edit</a>
	<form action="${symbol_pound}" th:action="@{'/apps/'+${symbol_dollar}{app.id}}" method="post" th:method="delete">
		<input type="submit" value="Delete" />
	</form>
</body>
</html>
